@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}

h1 {
    color: #131313;
}
.btn-primary {
    font-size: 20px;
    font-weight: 600;
    border-radius: 8px;
    background: #FF900E;
    padding: 20px 25px;
    color: #FFF;
    border: 0;
    cursor: pointer;
}

header {
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
}

nav > ul {
    display: flex;
}

nav > ul li {
    list-style: none;
    margin-left: 50px;
    font-size: 1rem;
    font-weight: 500;
    line-height: 26px;
}

nav > ul li a {
    text-decoration: none;
    color: #424242;
}

nav h3 {
    color: #131313;
    font-size: 2.8rem;
    font-weight: 700;
}

.banner-content {
    max-width: 862px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}

.banner-content h1 {
    font-size: 64px;
    font-weight: 700;
    margin-bottom: 30px;
}

.banner-content p {
    color: #727272;
    line-height: 26px;
    margin-bottom: 30px;
}

.banner img {
    width: 100%;
}

main {
    max-width: 1440px;
    margin: 70px auto;
}

.teams-container {
    display: flex;
    align-items: center;
}

.teams-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}

.teams-content-container {
    padding: 0 70px;
}

.teams-content-container h3 {
    font-size: 2.8rem;
    margin-bottom: 24px;
}

.teams-content-container p {
    color: #727272;
    line-height: 26px;
    margin-bottom: 32px;
}

.teams-content-container .quick-list {
    color: #727272;
    font-weight: 500;
}

.teams-content-container .of-our {
    color: #131313;
    font-weight: 700;
}

.teams-content-container .features {
    color: #FF900E;
    font-weight: 700;
}

@media screen and (max-width: 576px) {
    header {
        padding: 20px;
    }

    nav {
        flex-direction: column;
        gap: 20px;
    }

    nav > ul li {
        margin-left: 0;
        margin-right: 20px;
    }

    .teams-container {
        flex-direction: column;
        gap: 30px;
    }

    .teams-img-container {
        grid-template-columns: repeat(1, 1fr);
    }

    .teams-content-container {
        padding: 0 20px;
    }
}

@media screen and (min-width: 576px) and (max-width: 960px) {

    header {
        padding: 50px;
    }

    nav {
        flex-direction: column;
        gap: 30px;
    }

    .teams-container {
        flex-direction: column;
        gap: 40px;
    }

    .teams-content-container {
        padding: 0 30px;
    }
}